h1 {
    color: white;
    margin: 0px;
    padding-bottom: 20px;
}

.connectContainer {
    background-image: linear-gradient(to right, #060607, rgb(66, 66, 66), #060607);
    min-height: 980px;
    height: auto;
}

.connectSliderContainer {
    width: 100%;
    margin-top: 20px;
  }