/* .listPageTitle {
    background-color: #1c1e21;
    padding: 20px;
}

.listPageTitle {
    color: #fff;
} */

.feedPageContainer {
    /* background-color: #1c1e21; */
    background-image: linear-gradient(to right, #060607, rgb(66, 66, 66), #060607);
    /* padding: 20px; */
    min-height: 980px;
    height: auto;
}

.blackHeader {
    /* background-color: black; */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0,0,0,1));
    width: auto;
    padding: 50px;
}