h1 {
    color: white;
    margin: 0px;
    padding-bottom: 20px;
}

.listContainer {
    /* background-color: #1c1e21; */
    width: 100%;
    background-image: linear-gradient(to right, #060607, rgb(66, 66, 66), #060607);
    /* padding: 20px; */
}

.ListSliderContainer {
    width: 100%;
    /* margin-left: 140px; */
    margin-top: 20px;
  }