h1 {
    color: white;
    margin: 0px;
    padding-bottom: 20px;
}

.listContainer {
    width: 100%;
    background-image: linear-gradient(to right, #060607, rgb(66, 66, 66), #060607);
}

.ListSliderContainer {
    width: 100%;
    margin-top: 20px;
  }