h1 {
    padding-top: 20px;
    padding-bottom: 0px;
    text-shadow: 2px 2px 10px #000000;
}

.noPadding {
    padding: 0px;
    margin: 0px;
    text-shadow: 2px 2px 10px #000000;
}

.delete {
    padding: 0px;
    margin: 0px;
    color: #e60a14;
}

.shadow {
    text-shadow: 2px 2px 10px #000000;
}

.listComponentDiv {
    background-image: linear-gradient(to right, #060607, rgb(66, 66, 66), #060607);
}