ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
  
  li {
    float: left;
  }
  
  li p {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 15px;
    text-decoration: none;
    margin-top: 18px;
    font-family: Roboto;
    font-weight: 200;
    transition: transform .4s;
  }

  li p:hover {
    color: #e60a14;
    transform: scale(1.2);
    font-weight: 300;
  }
  
  li a:hover {
    background-color: #111;
    color: #e60a14;
  }

  .signout {
    float: right
  }

  .bar {
    height: 40px;
  }

  .navLogo {
    height: 35px;
    padding: 5px;
    padding-top: 12px;
    padding-left: 50px;
    padding-right: 40px;
  }