ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #060607;
    position: fixed;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li p {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 15px;
    text-decoration: none;
    margin-top: 12px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
  }
  
  li a:hover {
    background-color: #111;
  }

  .signout {
    float: right
  }

  .bar {
    height: 40px;
  }