.ResultPreviewCard {
    height: 200px;
}

.resultPreview {
    height: 250px;
    padding-left: 50px;
    transition: transform .2s;
    padding-top: 25px;
    padding-bottom: 20px;
    max-width: 150px;
}

.ResultPreviewCard p{
    text-align: center;
}

.resultPreview:hover {
    transform: scale(1.2);
  }

