.search {
    background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    min-height: 980px;
    height: auto;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 50px;
  }

  .input {
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
}

.search h3 {
  color: white;
  padding-top: 20px;
}

.ResultsSliderContainer {
  width: 80%;
  margin-left: 140px;
  margin-top: 20px;
  
}

.logo {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 50px;
  padding-bottom: 20px;
}