.title {
    text-align: center;
    padding-top: 20px;
    color: white;
}

.background {
    background-image: url("https://images.unsplash.com/photo-1512149074996-e923ac45be6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    min-height: 980px;
    height: auto;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 50px;
}

.contain {
    background-color: rgba(28, 30, 33, 0.8);
    padding-bottom: 20px;
    border-radius: 10px;
}

.input {
    background-color:#fff;
}

p {
    color: white;
}

.copyright {
    color: white;
}

.spacer {
    height: 200px;
}

.error {
    color: rgb(235, 52, 68);
}

.darklogo {
    width: 400px;
    margin-top: 100px;
}