body {
  /* background-color: #212121; */
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #e60a14;
}

.slick-prev:before {
  color: #e60a14;
  font-size: 50px;
  /* opacity: 1; */
  margin-right: 50px;
}

.slick-next:before {
  color: #e60a14;
  font-size: 50px;
}

div.wrapper {
  margin-left: 50px;
}